/*Global Styles */
* {
  box-sizing: content-box;
}

html{
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}


/*Global Styles */

/*Font-Styles*/
body {
  font-family: Roboto Slab;
}

p {
  font-family: Open Sans;
}

header h1{
  font-size: 1.5em;
}

#ideabox-header {
  font-weight: 700;
  font-size: 5em;
}

.title-input,
.input-body,
.save-button {
  font-size: 1em;
}

.user-input,
#idea-search  {
  font-family: Open Sans;
  font-size: 3em;
}

/*Header Styles*/

header {
	background-color: #E2F5F5;
  padding: 12px 15px 20px 15px;
}

header h1{
  color: #6D6E71;
  margin: 0 auto 15px auto;
  text-align: center;
}


h1 span {
  color: #00A79D;
}



#ideabox-header {
	color: #6D6E71;
	
}

/*Header Styles*/


.ideabox-title {
	color: #00A79D;
}

.title-input {
	display: block;
	padding: 3px 0 2px 6px;
  width: 94%;
  margin-bottom: 11px;
}

.input-body {
  display: block;
  height: 64px;
  padding: 4px 0 0 6px;
  width: 95%;
  resize: none;
  margin-bottom: 13px;
}

.save-button {
	background-color: #00A79D;
	color: #FFFFFF;
  border: none;
  width: 94%;
  margin: auto;
  padding: 5px;
}

#idea-search {
	padding: 5px;
	width: 90%;
	border: magenta 1.5px solid;
}

.idea-card {
}

.idea-quality {
}

.voting-buttons {
}
